nav {
  display: flex;
  background: #000;
  height: 7.2vh;
  width: 100%;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  backdrop-filter: blur(11px) saturate(110%);
}

nav .logo a {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
}

nav .hamburger {
  display: none;
}

nav .nav-links {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  nav .nav-links {
    width: 45%;
  }
}

nav .nav-links a {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
}

@media (max-width: 670px) {
  nav {
    padding: 0;
  }

  nav .line-1,
  nav .line-2,
  nav .line-3 {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: 400ms;
    border-radius: 10px;
  }

  nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 20;
  }

  nav .logo {
    top: 50%;
    left: 5%;
    position: absolute;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
  }

  nav .nav-links {
    position: fixed;
    background: #276ef1;
    min-height: 100vh;
    width: 100%;
    margin-top: 46.2vh;
    flex-direction: column;
    clip-path: circle(100px at 90% -13%);
    transition: all 1s ease-out;
    pointer-events: none;
    padding: 100px 0;
  }

  nav .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  nav .nav-links li {
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
  }

  nav .nav-links li a {
    font-size: 25px;
    font-weight: 600;
  }

  nav .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  nav .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  nav .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  nav .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }

  nav .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  nav .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }

  nav .nav-links li.fade {
    opacity: 1;
  }

  nav .toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .toggle .line-2 {
    opacity: 0;
  }

  nav .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
