.container {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - 7.2vh);
  justify-content: space-evenly;
  height: 100%;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  min-height: 70vh;

  .top {
    flex: 1;

    h1 {
      font-size: 2.3rem;
      margin-bottom: 1rem;
    }
  }

  #map {
    margin-top: 2rem;
    width: 100%;
    min-height: 30vh;
  }

  @media (max-width: 1100px) {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  @media (max-width: 830px) {
    width: 70%;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
}

.divider {
  height: 70vh;
  width: 0.6px;
  background: #d5dde0;

  @media (max-width: 1100px) {
    display: none;
  }
}

.right-section {
  width: 25%;
  height: 100%;
  min-height: 70vh;

  @media (max-width: 1100px) {
    width: 40%;
    margin-bottom: 10vh;
    min-height: 40vh;
  }

  @media (max-width: 830px) {
    width: 70%;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
  .message {
    margin: 1rem 0;
    color: #646d7a;
    font-size: 1.2rem;
  }

  .button {
    padding: 0.6rem 1.3rem;
    background: #3e4958;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    width: fit-content;
  }

  h3 {
    font-size: 2rem;
    color: #111;
  }

  .user-card {
    margin: 2rem 1rem;
    padding: 1.5rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(24, 24, 24, 0.1),
      0 6px 6px rgba(31, 31, 31, 0.14);
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .img {
      height: 150px;
      width: 150px;
      margin-bottom: 1rem;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }

    h2 {
      font-size: 2rem;
      color: #3e4958;
    }

    p {
      font-size: 1rem;
      color: #646d7a;
    }
  }
}

.form {
  width: 35%;
  min-height: 65vh;
  border-radius: 0.8rem;
  box-shadow: 0 14px 23px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.14);
  padding: 2rem;

  @media (max-width: 1100px) {
    width: 60%;
    margin-top: 5vh;
  }

  @media (max-width: 860px) {
    width: 80%;
  }

  @media (max-width: 700px) {
    width: 90%;
    padding: 1.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  #form {
    display: flex;
    flex-direction: column;
  }

  .error {
    color: rgb(255, 69, 69);
    margin: 0.7rem 0;
  }

  span {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #3e4958;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.3rem;
    margin-bottom: 0.3rem 0;
  }

  .condition {
    margin: 0.5rem 0;

    .options {
      margin: 0.3rem 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      input {
        display: none;

        &:checked + label {
          background: #3e4958;
        }
      }

      label {
        &:nth-child(2) {
          background: rgb(48, 219, 77);
        }
        &:nth-child(4) {
          background: rgb(255, 199, 96);
        }
        &:nth-child(6) {
          background: rgb(255, 69, 69);
        }

        color: #fff;
        cursor: pointer;
        padding: 0.3rem 1.2rem;
        margin-right: 0.5rem;
        border-radius: 8px;

        span {
          letter-spacing: 1.2px;
        }
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    input {
      outline: none;
      font-size: 1.1rem;
      padding: 0.9rem;
      border-radius: 0.8rem;
      color: #3e4958;
      background: #f7f8f9;
      border: 0.5px solid #d5dde0;

      &:disabled {
        color: #8b8f94;
      }
    }
  }
  button {
    background: #3e4958;
    border: none;
    color: #fff;
    margin-top: 1rem;
    padding: 1.2rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.8rem;
  }
}

.map {
  min-height: 65vh;
  width: 50%;
  border-radius: 0.8rem;
  box-shadow: 0 14px 23px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.14);
  padding: 2rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 1100px) {
    width: 60%;
    margin: 5vh;
  }

  @media (max-width: 860px) {
    width: 80%;
  }

  @media (max-width: 700px) {
    width: 90%;
    padding: 1.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  #map {
    margin-top: 1rem;
    flex: 1;
  }
}
