.login-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-form {
  max-width: 380px;
  height: 100%;
}

.login-form .logo-area {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 64px;
}

.login-form .logo-area .logo-img {
  background-image: url('/assets/logo.jpg');
  background-position: center;
  background-size: cover;
  height: 6.9rem;
  width: 6.9rem;
  margin: 0 auto;
  // -webkit-box-shadow: 0 9px 17px rgba(0, 0, 0, 0.22);
  // box-shadow: 0 9px 17px rgba(0, 0, 0, 0.22);
}

.login-form .login-area {
  padding: 0 1rem;
}

.login-form .login-area h1 {
  font-weight: 600;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
}

.login-form .login-area p {
  margin: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.login-form .login-area .sign-in-btn {
  display: block;
  background: #3e4958;
  border: none;
  color: #fff;
  margin-top: 1rem;
  padding: 0.8rem 1.4rem;
  text-align: center;
  font-size: 1.12rem;
  cursor: pointer;
  border-radius: 0.4rem;

  &:nth-of-type(1) {
    margin-top: 2rem;
  }
}
