* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/Sf_pro.ttf');
}

@font-face {
  font-family: 'Product Sans Reg';
  src: url('/fonts/Product_Sans_Regular.ttf');
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('/fonts/Product_Sans_Bold.ttf');
}

a {
  text-decoration: none;
}

body {
  font-family: 'Product Sans Reg', sans-serif;
  min-height: 100vh;
  line-height: 1.6;
}

@import '_header';
@import '_login';
@import '_account';
