<div class="sidebar">
  <div class="img">
    <img src="<%= user.image %> " alt="">
  </div>
  <a href="/account/overview">
    <p>Account overview</p>
  </a>
  <a href="/account/profile">
    <p>Edit profile</p>
  </a>
  <a href="/account/notifications">
    <p>Notification settings</p>
  </a>
</div>