<div class="sidebar">
  <div class="img-container">
    <div class="img" style="background-image: url('<%= user.image %>');">
    </div>
  </div>
  <a href="/account/overview">
    <div class="center" id="overview">
      <i class="fas fa-home"></i>
      <p>Account overview</p>
    </div>
  </a>
  <a href="/account/profile">
    <div class="center" id="edit">
      <i class="fas fa-user-edit"></i>
      <p>Edit profile</p>
    </div>
  </a>
  <a href="#">
    <div class="center">
      <i class="fas fa-bell"></i>
      <p>Notification settings</p>
    </div>
  </a>
  <a href="#">
    <div class="center">
      <i class="fas fa-lock"></i>
      <p>Privacy settings</p>
    </div>
  </a>
  <a href="#">
    <div class="center">
      <i class="fas fa-car"></i>
      <p>Your rides</p>
    </div>
  </a>
  <a href="#">
    <div class="center">
      <i class="fas fa-percent"></i>
      <p>Offers</p>
    </div>
  </a>
</div>