<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-family: 'Product Sans', sans-serif;
      margin: 0;
      padding: 0;
      color: #fff;
    }

    .image {
      height: 20vw;
      width: 20vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('https://img.pngio.com/sad-png-hd-transparent-sad-hdpng-images-pluspng-sad-png-png-2160_2160.png');
    }

    .a404 {
      font-size: 5rem;
      opacity: 0.6;
      text-align: center;
    }

    .found {
      font-size: 1rem;
      opacity: 0.6;
    }

    .landing {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100vh;
      background-color: #111;
    }
  </style>
</head>

<body>
  <div class="landing">
    <div class="image"></div>
    <div>
      <div class="a404">404</div>
      <br>
      <div class="found">The page you are looking for cannot be found </div>
    </div>

  </div>

</body>

</html>