<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login | MedPool</title>
</head>

<body class="login-page">
  <div class="login-form">
    <div class="logo-area">
      <div class="logo-img"></div>
    </div>
    <div class="login-area">
      <h1>MedPool</h1>
      <p>Health and wellness app, made for the people, by the people and with the people</p>
      <a class="sign-in-btn" href="/auth/google/user">Sign in as a user</a>
      <a class="sign-in-btn" href="/auth/google/driver">Sign in as a driver</a>
    </div>
  </div>
</body>

</html>